@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.searchParent {
  padding: 20;
  .searchBar {
    background-color: #f5f5f5;
    padding: 10 0;
  }
  .thirdChild {
    border-radius: 60px 60px 0 0;
    background-color: #03411f;
    padding: 16;
    display: flex;
    .button {
      background: #0a6a35;
      text-align: center;
      border-radius: 4;
      text-transform: capitalize;
    }
  }
  .description {
    width: 80%;
    height: 60px;
  }
  .emptyPlant {
    font-weight: bold;
    font-size: 16px;
    color: #fd7a1d;
    text-align: center;
    text-transform: capitalize;
  }
}
