.pd-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20;
    text-align: center;
    padding: 0 10;
    margin-top: -40;
    color: #000000;
  }

  .quickScanHeader{
    font-size: 32;
    font-weight: bold;
    padding-left: 8;
  }