.dialog {
  border-width: 4 0 4 0;
  border-color: #fd7a1d;
  background-color: #fff;
  width: 100%;
  padding: 20;
  .signInText {
    color: #fd7a1d;
    font-size: 20;
  }
}
.signInText {
  margin-bottom: 16;
}
.input {
  border-width: 2;
  border-color: #000;
  border-radius: 4;
  font-size: 16;
  width: 100%;
  padding: 8;
}
.sign-up-label,
.forgot-password-label {
  color: black;
}
.actions {
  margin-top: 24px;
  .endAction {
    color: #fd7a1d;
  }
  label {
    font-size: 13;
  }
}
