@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

/* Home page */
/* Styling for the input of the text field */
.mui-text-field-input {
  background-color: #fff;
  border-radius: 4;
  border: 1px solid #ddd;
  color: #222;
  font-size: 16;
  padding: 8;
}

/* Styling for the focused input of the text field */
.mui-text-field-input:focus {
  outline: none;
  border: 1px solid #009688;
}

/* Styling for the error message of the text field */
.mui-text-field-error {
  color: #f44336;
  font-size: 14;
}

Button.-primary {
  font-size: 16;
  background: #FD7A1D;
  border-radius: 6;
  text-transform:uppercase;
}

.diagnose-text{
  font-size: 32;
  font-weight: bold;
  margin-left: 8;
}

.home-page-form{
  border-radius: 60px;
  padding: 20px;
  margin: 8px 16px;
}
.textLabel{
  font-weight: 400;
  margin-left: 16;
  color: #222;
  font-size: 16;
  opacity: .6;
}

.textHeader{
  font-weight: bold;
  font-size: 23;
}

.textBody{
  font-size: 17;
  opacity: .3;
}

.btn-diag{
  margin-top: 20;
}


#diagnoseScrollView{
  visibility: hidden;
}