@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.item {
}
.subChild {
    background-color: #0C5649;
    color: #fff !important;
    border-radius: 60px 60px 0 0;
    padding: 16;
    .title{
      color: #fff;
      font-size: 20px;
    }
    .card-subtitle {
      font-size: 16px;
    }

}
.button {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  Button {
    background-color: #FD7A1D;
    border-radius: 8;
    height: 16px;
    
  }
  .fas {
    font-size: 30 !important;
background-color: #fff;
width: 56px;
    
  }
}

