@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// .title {
//   font-size: 24px;
//   font-weight: bold;
//   color: green;
// }
// .diagnose-text{
//   font-size: 24;
//   font-weight: bold;
// }
.label {
  font-size: 20px;
  font-weight: 500;
}
Button.-primary {
  font-size: 16;
  background: #fd7a1d;
  border-radius: 6;
  text-transform: uppercase;
  height: 42;
  font-weight: bold;
}
// Font icon class
.m-icon {
  // or any other class name you prefer

  font-family: 'Material Icons', 'MaterialIcons-Regular';

  font-weight: 400;
}
.fab {
  font-family: 'Font Awesome 5 Brands', 'fa-brands-400';
  font-weight: 400;
}

.fas {
  font-family: 'Font Awesome 5 Free', 'fa-solid-900';
  font-weight: 900;
}

.far {
  font-family: 'Font Awesome 5 Free', 'fa-regular-400';
  font-weight: 400;
}
