* {
  margin-left: 8px;
}

.guide {
  font-weight: bold;
  font-size: 32px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

Label.steps {
  font-weight: 400;
  font-size: 16;
  margin-top: auto;
}

.step1 {
  margin-top: -33px;
}

.step2 {
  margin-top: -33px;
}

.step3 {
  margin-top: -33px;
}

.step4 {
  margin-top: -33px;
}

.step5 {
  margin-top: -33px;
}
.more {
  text-align: right;
  font-weight: 400;
  margin-right: 50px;
}

.container {
  padding: 30px;
}
.guide,
.heading,
.more {
  font-weight: bold;
}
.guide {
  font-size: 32px;
}
.heading {
  font-size: 20px;
}

Label.steps {
  font-weight: 400;
  font-size: 16;
}

.more {
  text-align: right;
  font-size: 18;
  margin-top: 50px;
}
.stepDot::before {
  content: '';
  background: rgba(253, 122, 29, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.child {
  align-items: center;
  margin-top: 50px;
}
.image {
  margin: 20 0;
}
