.landingPage {
  .section1,
  .section3 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .section1 {
    padding: 20;
  }
  .section3 {
    flex-direction: column;
    padding: 20;
    label {
      color: #000;
    }
    .text {
      margin-bottom: 20;
    }
  }
  .m-icon {
    // or any other class name you prefer

    font-family: “Material Icons”, “MaterialIcons-Regular”;

    font-weight: 400;
  }
}
// Font icon class
.fab {
  font-family: 'Font Awesome 5 Brands', 'fa-brands-400';
  font-weight: 400;
}

.fas {
  font-family: 'Font Awesome 5 Free', 'fa-solid-900';
  font-weight: 900;
}

.far {
  font-family: 'Font Awesome 5 Free', 'fa-regular-400';
  font-weight: 400;
}
